body{
    margin: 0px;
}

/* Body Header */

#body-header{
    background-image: url(pexels-marta-branco-1194713.jpg);
    height: 75vh;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Horizontal Lists */

.horizontal-lists{
    list-style: none;
    padding-left: 0px;
    margin: 0px;  
} 

.horizontal-lists li{
    display: inline-block;
    margin: 0px 25px 25px 0px;
    margin-top: 20px;
}

.nav-menu li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s, border-bottom 4s;
    font-family: sans-serif;
    font-size: 25px;
}

.nav-menu li a:hover{
    color: gray;
    border-bottom: 1px solid black;
}

.text-centre{
    text-align: center;
}


#my-name{
    font-size: 3.5rem;
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

#social-container{
    margin-top: 20vh;
}

.social-icons li a i{
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px gray;

}

/* About Section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 20rem;
    width: 20rem;
    margin: auto;
    margin-top: -15vh;
}

#my-image img{
    height: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 4px lightgray;
}

#abt p{
    color: #353232;
    padding: 10px;
    width: 70%;
    font-size: 1.1rem;
    margin: auto;
    line-height: 28px;
    text-align: center;
}